@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1578570340311'); /* IE9 */
  src: url('iconfont.eot?t=1578570340311#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABmAAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsdAE2AiQDCAsGAAQgBYRtBzAbmgXILrBt2JMi7RzHDwMkUdlgIIR4+G+/3+8zdy7i3iDjWTRZMwsZTxDbL/2v7iW8wzVNR+g5bvxQOWSFtnj5ps/5S8ENhSdNoNQ8oQW0ywmeofRjLm+7O+F3Ps/l9K4BFMj8QDmuvfmoF2C8NcC9sE1WQhk3TC9f0ECeJ1BnSKfQ5vjsAimT6WmBuOVGjJTlgrLMMjVCVc3aLL6VatJnCvEVfj/+C0cZSVnQNTvnY0ky+KvZ5BTLlWXHPiFEQJtLFFhAZOKgNrmlUDBWobpkkTFkX5XBr+ZKxTeLvRoE++t0eQMYgMJ7EjnxrZYnkGF/N2Jy1CPJqTbVncmMXNw9rmPvwMbsa3Jh87DFnaPL3t+3ZGMj5/3/P4lv4IPw7XKrRseu+Mv7cib1skHwZ8VzWgjB78tSpLa/svoMfvYtJkN91s9N1OzNFfwVUc+6LCRak7YvRK6kO1MgoU54VGhvm/ux2s5byIYanTfirjaYolBjgszMBZTqLaFKjRXUmTexuV47oVDkWszZAAgtzpE0+YFCiwsyM+9Q6vKGKi1RiDpHYc96U8ErFhBDSNJ4nvKE6zBrwYqocg4MacVEVhKyl0AEPEJ1RStmJsABMceCIGOEERllwrXpOLgMLMulnnDTkEAlheh1qyqre5OScG1SYYMAYhBIouLyKC7B5WB+c1RR+vwcYJAsMaKFkgsuAUKAD07pFFoPckLp9KLcyzWBDEMYQgzFCC4bNQ5GAYvFRXn1o9JAAlKkRsQ93VTTiPVVKuur7a/bAnW0LoUZVqh6kjkecwkB') format('woff2'),
  url('iconfont.woff?t=1578570340311') format('woff'),
  url('iconfont.ttf?t=1578570340311') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1578570340311#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconquxiao:before {
  content: "\e61f";
}

